/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Tajawal:wght@200;300&display=swap");


.header-title {
  font-size: 52px;
  font-family: 'Baumans', cursive;
}
.header-title:hover {
  color: rgba(0, 0, 0, 0.548);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  text-decoration-line: none;
}

.nav-items {
  justify-content: flex-end;
}
.nav-link {
  font-size: 28px;
  font-family: 'Tajawal', sans-serif;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 10px;
}

.body-text {
  font-size: 22px;
  font-family: 'Tajawal', sans-serif;
  text-decoration: none;
}
.body-title {
  font-size: 28px;
  font-family: 'Baumans', cursive;
  font-weight: bold;
}
.text-hover:hover {
  color: #52734d;
}
.login {
  font-size: 32px;
  font-family: 'Baumans', cursive;
}
.login-text {
  font-size: 22px;
  font-family: 'Tajawal', sans-serif;
}

.intro-text {
  font-family: 'Tajawal', sans-serif;
  font-size: 24px;
  background-color: #fbefcc63;
  border-radius: 10px;
  padding: 5px;
}

.btn:hover {
  font-size: 20px;
  background-color: #91c7885b;
  color: grey;
}

.img-fluid {
  background-color: #fbefcc63;
  border-radius: 25px;
  padding: 5px;
}

.small-card {
  font-family: 'Tajawal', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #fbefccc9;
  padding: 5px;
  letter-spacing: 2.6px;
}

.body-card {
  background: #fbefcc69;
}

story-text {
  color: black;
  text-decoration: none;
}



